{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="layout-container">

  <header role="banner" id="enccb-header">
    <div class="container" id="enccb-secondary-menu">
      {{ page.secondary_menu }}
    </div>

    <div class="container" id="enccb-page-header">
      {{ page.header }}
    </div>
  </header>

  <div id="enccb-primary-menu">
  {{ page.primary_menu }}
  </div>

  {%  if page.highlighted %}
    <div id="enccb-highlighted" class="d-none d-lg-block">
      <div class="container">
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}

  <div class="container" id="enccb-help">
    {{ page.help }}
  </div>

  <main role="main" id="enccb-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="container" id="enccb-page-title">
      {{ page.page_title }}
    </div>

    <div class="container">
      {{ page.breadcrumb }}
    </div>

    <div class="layout-content container">
      {{ page.content }}
    </div>
  </main>

  {% if page.footer or page.footer_left or page.footer_right %}
    <footer role="contentinfo" id="enccb-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                {{ page.footer_left }}
            </div>
            <div class="col-lg-8 col-12">
                {{ page.footer_right }}
            </div>
            <div class="coil-12">
                {{ page.footer }}
            </div>
        </div>
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
